# Basics of Data Cleaning

**DATASET CHOOSEN FOR DATA CLEANING: **

**NYC open data : https://opendata.cityofnewyork.us/data/#datasetscategory**

In [111]:
%matplotlib inline

import os
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [112]:
    fp = 'C:/Users/Ashwini/Desktop/Intro to DS/SAT_Results.csv' # Assigning path of file to variable 'fp', to make use of it to read the file
    SAT_Result = pd.read_csv(fp) # read csv file and save the data in dataframe games
    SAT_Result.head(20) # display first 20 records of games dataframe

,DBN,SCHOOL NAME,Num of SAT Test Takers,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355,404,363
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,91,383,423,366
2,01M450,EAST SIDE COMMUNITY SCHOOL,70,377,402,370
3,01M458,FORSYTH SATELLITE ACADEMY,7,414,401,359
4,01M509,MARTA VALLE HIGH SCHOOL,44,390,433,384
5,01M515,LOWER EAST SIDE PREPARATORY HIGH SCHOOL,112,332,557,316
6,01M539,"NEW EXPLORATIONS INTO SCIENCE, TECHNOLOGY AND ...",159,522,574,525
7,01M650,CASCADES HIGH SCHOOL,18,417,418,411
8,01M696,BARD HIGH SCHOOL EARLY COLLEGE,130,624,604,628
9,02M047,47 THE AMERICAN SIGN LANGUAGE AND ENGLISH SECO...,16,395,400,387
10,02M288,FOOD AND FINANCE HIGH SCHOOL,62,409,393,392
11,02M294,ESSEX STREET ACADEMY,53,394,384,378
12,02M296,HIGH SCHOOL OF HOSPITALITY MANAGEMENT,58,374,375,362
13,02M298,PACE HIGH SCHOOL,85,423,438,432
14,02M300,URBAN ASSEMBLY SCHOOL OF DESIGN AND CONSTRUCTI...,48,404,449,416
15,02M303,"FACING HISTORY SCHOOL, THE",76,353,358,340
16,02M305,"URBAN ASSEMBLY ACADEMY OF GOVERNMENT AND LAW, THE",50,375,388,385
17,02M308,LOWER MANHATTAN ARTS ACADEMY,40,403,392,405
18,02M313,"JAMES BALDWIN SCHOOL, THE: A SCHOOL FOR EXPEDI...",69,408,390,390
19,02M316,URBAN ASSEMBLY SCHOOL OF BUSINESS FOR YOUNG WO...,42,373,370,384

In [113]:
column_names = {'DBN': 'DB_Number', 'SCHOOL NAME': 'SCHOOL', 'Num of SAT Test Takers': 'Number of Applicants',
                'SAT Critical Reading Avg. Score': 'Critical Reading Average Score', 'SAT Math Avg. Score': 'Math Average Score', 
                'SAT Writing Avg. Score': 'Writing Average Score'}

SAT_Result = (SAT_Result.rename(columns=column_names)
    .dropna(thresh=4)
    [['DB_Number','SCHOOL','Number of Applicants','Critical Reading Average Score','Math Average Score','Writing Average Score']]
    .set_index('DB_Number', append=True)
    .rename_axis(["Serial Number", "DB_Number"])
    .sort_index())
SAT_Result

,,SCHOOL,Number of Applicants,Critical Reading Average Score,Math Average Score,Writing Average Score
Serial Number,DB_Number,,,,,
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355,404,363
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,91,383,423,366
2,01M450,EAST SIDE COMMUNITY SCHOOL,70,377,402,370
3,01M458,FORSYTH SATELLITE ACADEMY,7,414,401,359
4,01M509,MARTA VALLE HIGH SCHOOL,44,390,433,384
5,01M515,LOWER EAST SIDE PREPARATORY HIGH SCHOOL,112,332,557,316
6,01M539,"NEW EXPLORATIONS INTO SCIENCE, TECHNOLOGY AND ...",159,522,574,525
7,01M650,CASCADES HIGH SCHOOL,18,417,418,411
8,01M696,BARD HIGH SCHOOL EARLY COLLEGE,130,624,604,628
9,02M047,47 THE AMERICAN SIGN LANGUAGE AND ENGLISH SECO...,16,395,400,387
10,02M288,FOOD AND FINANCE HIGH SCHOOL,62,409,393,392
11,02M294,ESSEX STREET ACADEMY,53,394,384,378
12,02M296,HIGH SCHOOL OF HOSPITALITY MANAGEMENT,58,374,375,362
13,02M298,PACE HIGH SCHOOL,85,423,438,432
14,02M300,URBAN ASSEMBLY SCHOOL OF DESIGN AND CONSTRUCTI...,48,404,449,416
15,02M303,"FACING HISTORY SCHOOL, THE",76,353,358,340
16,02M305,"URBAN ASSEMBLY ACADEMY OF GOVERNMENT AND LAW, THE",50,375,388,385
17,02M308,LOWER MANHATTAN ARTS ACADEMY,40,403,392,405
18,02M313,"JAMES BALDWIN SCHOOL, THE: A SCHOOL FOR EXPEDI...",69,408,390,390
19,02M316,URBAN ASSEMBLY SCHOOL OF BUSINESS FOR YOUNG WO...,42,373,370,384
20,02M374,GRAMERCY ARTS HIGH SCHOOL,60,391,391,394
21,02M376,NYC ISCHOOL,92,473,483,479
22,02M392,MANHATTAN BUSINESS ACADEMY,s,s,s,s
23,02M393,BUSINESS OF SPORTS SCHOOL,s,s,s,s
24,02M394,EMMA LAZARUS HIGH SCHOOL,79,319,512,357
25,02M399,THE HIGH SCHOOL FOR LANGUAGE AND DIPLOMACY,s,s,s,s
26,02M400,HIGH SCHOOL FOR ENVIRONMENTAL STUDIES,263,465,493,461
27,02M407,INSTITUTE FOR COLLABORATIVE EDUCATION,54,492,465,467
28,02M408,PROFESSIONAL PERFORMING ARTS HIGH SCHOOL,94,509,490,523
29,02M411,BARUCH COLLEGE CAMPUS HIGH SCHOOL,104,496,563,518
...,...,...,...,...,...,...
448,30Q580,BACCALAUREATE SCHOOL FOR GLOBAL EDUCATION,61,524,568,544
449,31R047,CSI HIGH SCHOOL FOR INTERNATIONAL STUDIES,137,452,451,450
450,31R064,GAYNOR MCCOWN EXPEDITIONARY LEARNING SCHOOL,61,398,412,385
451,31R080,THE MICHAEL J. PETRIDES SCHOOL,107,472,488,466
452,31R440,NEW DORP HIGH SCHOOL,391,424,437,416
453,31R445,PORT RICHMOND HIGH SCHOOL,271,424,438,417
454,31R450,CURTIS HIGH SCHOOL,375,437,435,429
455,31R455,TOTTENVILLE HIGH SCHOOL,807,462,486,470
456,31R460,SUSAN E. WAGNER HIGH SCHOOL,535,455,474,459
457,31R470,CONCORD HIGH SCHOOL,10,466,455,414
458,31R600,RALPH R. MCKEE CAREER AND TECHNICAL EDUCATION ...,94,416,422,397
459,31R605,STATEN ISLAND TECHNICAL HIGH SCHOOL,227,635,682,636
460,31R607,YOUNG ADULT BOROUGH CENTER AT STATEN IS TECH HS,10,405,375,370
461,32K403,ACADEMY FOR ENVIRONMENTAL LEADERSHIP,50,380,366,352
462,32K545,EBC HIGH SCHOOL FOR PUBLIC SERVICE–BUSHWICK,88,384,409,361
463,32K549,BUSHWICK SCHOOL FOR SOCIAL JUSTICE,75,348,353,334
464,32K552,ACADEMY OF URBAN PLANNING,67,342,364,354
465,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,39,428,465,422
466,32K556,BUSHWICK LEADERS HIGH SCHOOL FOR ACADEMIC EXCE...,23,347,358,350
467,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,24,359,317,358
468,75K371,P.S. 371 s LILLIAN L. RASHKIS,s,s,s,s
469,75M035,P.S. 035,s,s,s,s
470,75Q256,P.S. Q256,s,s,s,s
471,75Q811,P.S. Q811,32,429,444,433
472,75R025,SOUTH RICHMOND HIGH SCHOOL I.S./P.S. 25,s,s,s,s
473,75X012,P.S. X012 LEWIS AND CLARK SCHOOL,s,s,s,s
474,75X754,J. M. RAPPORT SCHOOL CAREER DEVELOPMENT,s,s,s,s
475,79M645,SCHOOL FOR COOPERATIVE TECHNICAL EDUCATION,s,s,s,s
476,79Q950,GED PLUS s CITYWIDE,8,496,400,426
477,79X490,PHOENIX ACADEMY,9,367,370,360

In [114]:
tidy = pd.melt(SAT_Result.reset_index(),
               id_vars=['Serial Number', 'DB_Number'], value_vars=['Critical Reading Average Score','Math Average Score','Writing Average Score'],
               value_name='Scores',var_name='Average Score areas')
tidy.head(600)

     Serial Number DB_Number             Average Score areas Scores
0                0    01M292  Critical Reading Average Score    355
1                1    01M448  Critical Reading Average Score    383
2                2    01M450  Critical Reading Average Score    377
3                3    01M458  Critical Reading Average Score    414
4                4    01M509  Critical Reading Average Score    390
5                5    01M515  Critical Reading Average Score    332
6                6    01M539  Critical Reading Average Score    522
7                7    01M650  Critical Reading Average Score    417
8                8    01M696  Critical Reading Average Score    624
9                9    02M047  Critical Reading Average Score    395
10              10    02M288  Critical Reading Average Score    409
11              11    02M294  Critical Reading Average Score    394
12              12    02M296  Critical Reading Average Score    374
13              13    02M298  Critical Reading Average Score    423
14              14    02M300  Critical Reading Average Score    404
15              15    02M303  Critical Reading Average Score    353
16              16    02M305  Critical Reading Average Score    375
17              17    02M308  Critical Reading Average Score    403
18              18    02M313  Critical Reading Average Score    408
19              19    02M316  Critical Reading Average Score    373
20              20    02M374  Critical Reading Average Score    391
21              21    02M376  Critical Reading Average Score    473
22              22    02M392  Critical Reading Average Score      s
23              23    02M393  Critical Reading Average Score      s
24              24    02M394  Critical Reading Average Score    319
25              25    02M399  Critical Reading Average Score      s
26              26    02M400  Critical Reading Average Score    465
27              27    02M407  Critical Reading Average Score    492
28              28    02M408  Critical Reading Average Score    509
29              29    02M411  Critical Reading Average Score    496
..             ...       ...                             ...    ...
570             92    04M435              Math Average Score    514
571             93    04M495              Math Average Score    379
572             94    04M555              Math Average Score    421
573             95    04M610              Math Average Score    446
574             96    04M635              Math Average Score    369
575             97    04M680              Math Average Score    351
576             98    05M285              Math Average Score    318
577             99    05M304              Math Average Score    399
578            100    05M362              Math Average Score      s
579            101    05M367              Math Average Score    366
580            102    05M369              Math Average Score    353
581            103    05M469              Math Average Score    360
582            104    05M499              Math Average Score    474
583            105    05M670              Math Average Score    402
584            106    05M685              Math Average Score    361
585            107    05M692              Math Average Score    654
586            108    06M293              Math Average Score    446
587            109    06M346              Math Average Score    376
588            110    06M348              Math Average Score    395
589            111    06M423              Math Average Score      s
590            112    06M457              Math Average Score    357
591            113    06M462              Math Average Score    384
592            114    06M463              Math Average Score    380
593            115    06M467              Math Average Score    378
594            116    06M468              Math Average Score    422
595            117    06M540              Math Average Score    456
596            118    06M552              Math Average Score    349
597            119    07X221              Math Average Score    378
598            120    07X321              Math Average Score    364
599            121    07X334              Math Average Score    324

[600 rows x 4 columns]

***Cleaning redundant data ***

In [116]:
mask = SAT_Result['Number of Applicants'].map(lambda x: x != 's')
SAT_Result = SAT_Result[mask]
SAT_Result['Critical Reading Average Score'] = SAT_Result['Critical Reading Average Score'].astype(int)
SAT_Result['Math Average Score'] = SAT_Result['Math Average Score'].astype(int)
SAT_Result['Writing Average Score'] = SAT_Result['Writing Average Score'].astype(int)
SAT_Result

,,SCHOOL,Number of Applicants,Critical Reading Average Score,Math Average Score,Writing Average Score
Serial Number,DB_Number,,,,,
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355,404,363
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,91,383,423,366
2,01M450,EAST SIDE COMMUNITY SCHOOL,70,377,402,370
3,01M458,FORSYTH SATELLITE ACADEMY,7,414,401,359
4,01M509,MARTA VALLE HIGH SCHOOL,44,390,433,384
5,01M515,LOWER EAST SIDE PREPARATORY HIGH SCHOOL,112,332,557,316
6,01M539,"NEW EXPLORATIONS INTO SCIENCE, TECHNOLOGY AND ...",159,522,574,525
7,01M650,CASCADES HIGH SCHOOL,18,417,418,411
8,01M696,BARD HIGH SCHOOL EARLY COLLEGE,130,624,604,628
9,02M047,47 THE AMERICAN SIGN LANGUAGE AND ENGLISH SECO...,16,395,400,387
10,02M288,FOOD AND FINANCE HIGH SCHOOL,62,409,393,392
11,02M294,ESSEX STREET ACADEMY,53,394,384,378
12,02M296,HIGH SCHOOL OF HOSPITALITY MANAGEMENT,58,374,375,362
13,02M298,PACE HIGH SCHOOL,85,423,438,432
14,02M300,URBAN ASSEMBLY SCHOOL OF DESIGN AND CONSTRUCTI...,48,404,449,416
15,02M303,"FACING HISTORY SCHOOL, THE",76,353,358,340
16,02M305,"URBAN ASSEMBLY ACADEMY OF GOVERNMENT AND LAW, THE",50,375,388,385
17,02M308,LOWER MANHATTAN ARTS ACADEMY,40,403,392,405
18,02M313,"JAMES BALDWIN SCHOOL, THE: A SCHOOL FOR EXPEDI...",69,408,390,390
19,02M316,URBAN ASSEMBLY SCHOOL OF BUSINESS FOR YOUNG WO...,42,373,370,384
20,02M374,GRAMERCY ARTS HIGH SCHOOL,60,391,391,394
21,02M376,NYC ISCHOOL,92,473,483,479
24,02M394,EMMA LAZARUS HIGH SCHOOL,79,319,512,357
26,02M400,HIGH SCHOOL FOR ENVIRONMENTAL STUDIES,263,465,493,461
27,02M407,INSTITUTE FOR COLLABORATIVE EDUCATION,54,492,465,467
28,02M408,PROFESSIONAL PERFORMING ARTS HIGH SCHOOL,94,509,490,523
29,02M411,BARUCH COLLEGE CAMPUS HIGH SCHOOL,104,496,563,518
30,02M412,N.Y.C. LAB SCHOOL FOR COLLABORATIVE STUDIES,114,537,590,550
31,02M413,SCHOOL OF THE FUTURE HIGH SCHOOL,66,517,533,515
32,02M414,N.Y.C. MUSEUM SCHOOL,103,468,492,459
...,...,...,...,...,...,...
441,30Q301,ACADEMY FOR CAREERS IN TELEVISION AND FILM,98,410,440,405
442,30Q445,WILLIAM CULLEN BRYANT HIGH SCHOOL,395,414,449,412
443,30Q450,LONG ISLAND CITY HIGH SCHOOL,392,403,420,395
444,30Q501,FRANK SINATRA SCHOOL OF THE ARTS HIGH SCHOOL,174,504,496,494
445,30Q502,INFORMATION TECHNOLOGY HIGH SCHOOL,148,407,434,398
446,30Q555,NEWCOMERS HIGH SCHOOL,143,323,475,329
447,30Q575,ACADEMY OF AMERICAN STUDIES,135,487,492,491
448,30Q580,BACCALAUREATE SCHOOL FOR GLOBAL EDUCATION,61,524,568,544
449,31R047,CSI HIGH SCHOOL FOR INTERNATIONAL STUDIES,137,452,451,450
450,31R064,GAYNOR MCCOWN EXPEDITIONARY LEARNING SCHOOL,61,398,412,385
451,31R080,THE MICHAEL J. PETRIDES SCHOOL,107,472,488,466
452,31R440,NEW DORP HIGH SCHOOL,391,424,437,416
453,31R445,PORT RICHMOND HIGH SCHOOL,271,424,438,417
454,31R450,CURTIS HIGH SCHOOL,375,437,435,429
455,31R455,TOTTENVILLE HIGH SCHOOL,807,462,486,470
456,31R460,SUSAN E. WAGNER HIGH SCHOOL,535,455,474,459
457,31R470,CONCORD HIGH SCHOOL,10,466,455,414
458,31R600,RALPH R. MCKEE CAREER AND TECHNICAL EDUCATION ...,94,416,422,397
459,31R605,STATEN ISLAND TECHNICAL HIGH SCHOOL,227,635,682,636
460,31R607,YOUNG ADULT BOROUGH CENTER AT STATEN IS TECH HS,10,405,375,370
461,32K403,ACADEMY FOR ENVIRONMENTAL LEADERSHIP,50,380,366,352
462,32K545,EBC HIGH SCHOOL FOR PUBLIC SERVICE–BUSHWICK,88,384,409,361
463,32K549,BUSHWICK SCHOOL FOR SOCIAL JUSTICE,75,348,353,334
464,32K552,ACADEMY OF URBAN PLANNING,67,342,364,354
465,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,39,428,465,422
466,32K556,BUSHWICK LEADERS HIGH SCHOOL FOR ACADEMIC EXCE...,23,347,358,350
467,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,24,359,317,358
471,75Q811,P.S. Q811,32,429,444,433
476,79Q950,GED PLUS s CITYWIDE,8,496,400,426
477,79X490,PHOENIX ACADEMY,9,367,370,360

***Below block of code helps us to get variety of computations on data***

In [117]:
SAT_Result.describe()

,Critical Reading Average Score,Math Average Score,Writing Average Score
count,421.000000,421.000000,421.000000
mean,400.850356,413.368171,393.985748
std,56.802783,64.684655,58.635109
min,279.000000,312.000000,286.000000
25%,368.000000,371.000000,360.000000
50%,391.000000,395.000000,381.000000
75%,416.000000,437.000000,411.000000
max,679.000000,735.000000,682.000000

### References: ###

***https://data.cityofnewyork.us/browse?category=Education&provenance=official***

***https://data.cityofnewyork.us/Education/SAT-Results/f9bf-2cp4***