## Running a chi-squared test, t-test, and a correlation / regression on SAT Results data and interpreting the results.

In [10]:
import pandas as pd # importing pandas library for use of pandas functions such as pd.melt and declaring it as 'pd' which will become easy to refer instead of writing pandas repeatedly 
import numpy as np

***Importing data of SAT_Result of year 2010***

In [11]:
    fp = 'C:/Users/Ashwini/Desktop/Intro to DS/SAT_Result_2010.csv' # Assigning path of file to variable 'fp', to make use of it to read the file
    SAT_Result_2010 = pd.read_csv(fp) # read csv file and save the data in dataframe SAT_Result_2010
    SAT_Result_2010 # display first 20 records of SAT_Result_2010 dataframe

,DBN,School Name,Number of Test Takers,Critical Reading Mean,Mathematics Mean,Writing Mean
0,01M292,Henry Street School for International Studies,31,391,425,385
1,01M448,University Neighborhood High School,60,394,419,387
2,01M450,East Side Community High School,69,418,431,402
3,01M458,SATELLITE ACADEMY FORSYTH ST,26,385,370,378
4,01M509,CMSP HIGH SCHOOL,s,s,s,s
5,01M515,Lower East Side Preparatory High School,154,314,532,314
6,01M539,"New Explorations into Sci, Tech and Math HS",47,568,583,568
7,01M650,CASCADES HIGH SCHOOL,35,411,401,401
8,01M696,BARD HIGH SCHOOL EARLY COLLEGE,138,630,608,630
9,02M047,AMERICAN SIGN LANG ENG DUAL,11,405,415,385
10,02M288,FOOD AND FNANCE HIGH SCHOOL,50,422,412,407
11,02M294,HIGH SCHOOL FOR HIST AND COMM,51,382,364,366
12,02M296,High School of Hospitality Management,43,397,415,391
13,02M298,PACE HIGH SCHOOL,71,424,448,423
14,02M300,Urban Assembly School of Design and Construction,49,405,446,415
15,02M303,The Facing History School,59,381,373,377
16,02M305,Urban Assembly Academy of Government and Law,48,411,406,411
17,02M308,LOWER MANHATTAN ARTS ACADEMY,35,409,381,412
18,02M313,The James Baldwin School,45,421,419,394
19,02M316,Urban Assembly School of Business for Young Wo...,52,401,409,391
20,02M374,GRAMERCY ARTS HIGH SCHOOL,49,395,376,386
21,02M376,NYC iSchool,s,s,s,s
22,02M400,HIGH SCHOOL ENVRNMNTL STUDIES,216,465,480,448
23,02M407,Institute for Collaborative Education,42,484,478,472
24,02M408,Professional Performng Arts School,69,495,465,499
25,02M411,Baruch College Campus High School,96,523,583,528
26,02M412,New York City Laboratory School Collab Studies,108,561,597,567
27,02M413,SCHOOL OF THE FUTURE,79,475,488,466
28,02M414,NEW YORK CITY MUSEUM SCHOOL,90,454,448,435
29,02M416,ELEANOR ROOSEVELT HIGH SCHOOL,122,555,596,567
...,...,...,...,...,...,...
430,30Q555,NEWCOMERS HIGH SCHOOL,147,343,447,346
431,30Q575,ACADEMY OF AMERICAN STUDIES,120,502,505,515
432,30Q580,BACCALAUREATE SCH GLOBAL EDUC,64,560,587,570
433,31R064,Gaynor McCown Expeditionary Learning School,s,s,s,s
434,31R080,MICHAEL J PETRIDES SCHOOL,86,508,523,502
435,31R440,NEW DORP HIGH SCHOOL,282,431,446,434
436,31R445,PORT RICHMOND HIGH SCHOOL,237,437,442,425
437,31R450,CURTIS HIGH SCHOOL,373,439,441,430
438,31R455,TOTTENVILLE HIGH SCHOOL,698,459,482,467
439,31R460,SUSAN E WAGNER HIGH SCHOOL,531,463,482,457
440,31R470,CONCORD HIGH SCHOOL,10,474,431,397
441,31R600,RALPH MCKEE VOC-TECH HIGH SCH,48,411,429,386
442,31R605,STATEN ISLAND TECHNICAL HIGH SCHOOL,287,638,673,617
443,32K403,ACADEMY OF ENVIRONMENTAL LEADERSHIP,36,382,369,374
444,32K480,Bushwick High School,s,s,s,s
445,32K545,EBC High School for Public Service - Bushwick,82,389,390,376
446,32K549,BUSHWICK HS FOR SOCIAL JUSTICE,72,363,364,358
447,32K552,Academy of Urban Planning,49,355,361,353
448,32K554,ALL CITY LEADERSHIP SECONDARY,29,394,420,395
449,32K556,Bushwick Leaders High School for Academic Excel,30,357,345,351
450,72X470,South Bronx High School,s,s,s,s
451,75K371,LILLIAN L RASHKIS HS P371K,s,s,s,s
452,75M035,MANHATTAN HIGH SCHOOL - P35M,s,s,s,s
453,75Q004,P4Q SCHOOL (@ 179),s,s,s,s
454,75Q256,P256 QUEENS SCHOOL @ SAINT MARY'S,s,s,s,s
455,75R025,South Richmond High School,10,407,421,400
456,75X012,PS12X LEWIS AND CLARK SCHOOL,s,s,s,s
457,75X754,P754 X - Jeffrey M. Rapport School for Career ...,s,s,s,s
458,76K460,John Jay High School,9,390,381,398
459,79X490,PHOENIX SCHOOL,7,404,423,416

In [12]:
column_names = {'DBN': 'DB_Number_2010', 'School Name': 'SCHOOL_2010', 'Number of Test Takers': 'Applicants_2010',
                'Critical Reading Mean': 'CR_Average_Score_2010', 'Mathematics Mean': 'Math_Average_Score_2010', 
                'Writing Mean': 'Writing_Average_Score_2010'} # Creating dictionary column_names to store key-value pairs for renaming column names 

SAT_Result_2010 = (SAT_Result_2010.rename(columns=column_names)# renaming column names of 'SAT_Result_2010' dataframe
    .dropna(thresh=4)# dropping all rows from dataframe with more than 4 NaN values
    [['DB_Number_2010','SCHOOL_2010','Applicants_2010','CR_Average_Score_2010','Math_Average_Score_2010','Writing_Average_Score_2010']]# columns to be displayed in output table
    .set_index('DB_Number_2010', append=True) # setting the index of 'SAT_Result_2010' dataframe using existing column and append is set to true to append column to an existing index
    .rename_axis(["Serial Number", "DB_Number_2010"])  # altering an index of Serial Number and DB_Number
    .sort_index())  # sorting all dataframe indexes

In [13]:
SAT_Result_2010.replace('s',np.NaN) # replace 's' values of all columns with NaN value using replace function
SAT_Result_2010["Applicants_2010"]=pd.to_numeric(SAT_Result_2010["Applicants_2010"], errors="coerce") # converting datatype of Applicant_2010 column to Numeric
SAT_Result_2010["CR_Average_Score_2010"]=pd.to_numeric(SAT_Result_2010["CR_Average_Score_2010"], errors="coerce") # converting datatype of CR_Average_Score_2010 column to Numeric
SAT_Result_2010["Math_Average_Score_2010"]=pd.to_numeric(SAT_Result_2010["Math_Average_Score_2010"], errors="coerce") # converting datatype of Math_Average_Score_2010 column to Numeric
SAT_Result_2010["Writing_Average_Score_2010"]=pd.to_numeric(SAT_Result_2010["Writing_Average_Score_2010"], errors="coerce") # converting datatype of Writing_Average_Score_2010 column to Numeric

In [14]:
SAT_Result_2010["Applicants_2010"].fillna(int(SAT_Result_2010["Applicants_2010"].mean()), inplace=True) # replace NaN values of Applicants column with mean value of same column
SAT_Result_2010["CR_Average_Score_2010"].fillna(int(SAT_Result_2010["CR_Average_Score_2010"].mean()), inplace=True)# replace NaN values of Applicants column with mean value of same columnce=True) # replace NaN values of CR_Average_Score column with mean value of same column
SAT_Result_2010["Math_Average_Score_2010"].fillna(int(SAT_Result_2010["Math_Average_Score_2010"].mean()), inplace=True)# replace NaN values of Math_Average_Score column with mean value of same column
SAT_Result_2010["Writing_Average_Score_2010"].fillna(int(SAT_Result_2010["Writing_Average_Score_2010"].mean()), inplace=True)# replace NaN values of Writing_Average_Score column with mean value of same column

SAT_Result_2010 # displaying entire dataset

,,SCHOOL_2010,Applicants_2010,CR_Average_Score_2010,Math_Average_Score_2010,Writing_Average_Score_2010
Serial Number,DB_Number_2010,,,,,
0,01M292,Henry Street School for International Studies,31.0,391.0,425.0,385.0
1,01M448,University Neighborhood High School,60.0,394.0,419.0,387.0
2,01M450,East Side Community High School,69.0,418.0,431.0,402.0
3,01M458,SATELLITE ACADEMY FORSYTH ST,26.0,385.0,370.0,378.0
4,01M509,CMSP HIGH SCHOOL,103.0,404.0,412.0,397.0
5,01M515,Lower East Side Preparatory High School,154.0,314.0,532.0,314.0
6,01M539,"New Explorations into Sci, Tech and Math HS",47.0,568.0,583.0,568.0
7,01M650,CASCADES HIGH SCHOOL,35.0,411.0,401.0,401.0
8,01M696,BARD HIGH SCHOOL EARLY COLLEGE,138.0,630.0,608.0,630.0
9,02M047,AMERICAN SIGN LANG ENG DUAL,11.0,405.0,415.0,385.0
10,02M288,FOOD AND FNANCE HIGH SCHOOL,50.0,422.0,412.0,407.0
11,02M294,HIGH SCHOOL FOR HIST AND COMM,51.0,382.0,364.0,366.0
12,02M296,High School of Hospitality Management,43.0,397.0,415.0,391.0
13,02M298,PACE HIGH SCHOOL,71.0,424.0,448.0,423.0
14,02M300,Urban Assembly School of Design and Construction,49.0,405.0,446.0,415.0
15,02M303,The Facing History School,59.0,381.0,373.0,377.0
16,02M305,Urban Assembly Academy of Government and Law,48.0,411.0,406.0,411.0
17,02M308,LOWER MANHATTAN ARTS ACADEMY,35.0,409.0,381.0,412.0
18,02M313,The James Baldwin School,45.0,421.0,419.0,394.0
19,02M316,Urban Assembly School of Business for Young Wo...,52.0,401.0,409.0,391.0
20,02M374,GRAMERCY ARTS HIGH SCHOOL,49.0,395.0,376.0,386.0
21,02M376,NYC iSchool,103.0,404.0,412.0,397.0
22,02M400,HIGH SCHOOL ENVRNMNTL STUDIES,216.0,465.0,480.0,448.0
23,02M407,Institute for Collaborative Education,42.0,484.0,478.0,472.0
24,02M408,Professional Performng Arts School,69.0,495.0,465.0,499.0
25,02M411,Baruch College Campus High School,96.0,523.0,583.0,528.0
26,02M412,New York City Laboratory School Collab Studies,108.0,561.0,597.0,567.0
27,02M413,SCHOOL OF THE FUTURE,79.0,475.0,488.0,466.0
28,02M414,NEW YORK CITY MUSEUM SCHOOL,90.0,454.0,448.0,435.0
29,02M416,ELEANOR ROOSEVELT HIGH SCHOOL,122.0,555.0,596.0,567.0
...,...,...,...,...,...,...
430,30Q555,NEWCOMERS HIGH SCHOOL,147.0,343.0,447.0,346.0
431,30Q575,ACADEMY OF AMERICAN STUDIES,120.0,502.0,505.0,515.0
432,30Q580,BACCALAUREATE SCH GLOBAL EDUC,64.0,560.0,587.0,570.0
433,31R064,Gaynor McCown Expeditionary Learning School,103.0,404.0,412.0,397.0
434,31R080,MICHAEL J PETRIDES SCHOOL,86.0,508.0,523.0,502.0
435,31R440,NEW DORP HIGH SCHOOL,282.0,431.0,446.0,434.0
436,31R445,PORT RICHMOND HIGH SCHOOL,237.0,437.0,442.0,425.0
437,31R450,CURTIS HIGH SCHOOL,373.0,439.0,441.0,430.0
438,31R455,TOTTENVILLE HIGH SCHOOL,698.0,459.0,482.0,467.0
439,31R460,SUSAN E WAGNER HIGH SCHOOL,531.0,463.0,482.0,457.0
440,31R470,CONCORD HIGH SCHOOL,10.0,474.0,431.0,397.0
441,31R600,RALPH MCKEE VOC-TECH HIGH SCH,48.0,411.0,429.0,386.0
442,31R605,STATEN ISLAND TECHNICAL HIGH SCHOOL,287.0,638.0,673.0,617.0
443,32K403,ACADEMY OF ENVIRONMENTAL LEADERSHIP,36.0,382.0,369.0,374.0
444,32K480,Bushwick High School,103.0,404.0,412.0,397.0
445,32K545,EBC High School for Public Service - Bushwick,82.0,389.0,390.0,376.0
446,32K549,BUSHWICK HS FOR SOCIAL JUSTICE,72.0,363.0,364.0,358.0
447,32K552,Academy of Urban Planning,49.0,355.0,361.0,353.0
448,32K554,ALL CITY LEADERSHIP SECONDARY,29.0,394.0,420.0,395.0
449,32K556,Bushwick Leaders High School for Academic Excel,30.0,357.0,345.0,351.0
450,72X470,South Bronx High School,103.0,404.0,412.0,397.0
451,75K371,LILLIAN L RASHKIS HS P371K,103.0,404.0,412.0,397.0
452,75M035,MANHATTAN HIGH SCHOOL - P35M,103.0,404.0,412.0,397.0
453,75Q004,P4Q SCHOOL (@ 179),103.0,404.0,412.0,397.0
454,75Q256,P256 QUEENS SCHOOL @ SAINT MARY'S,103.0,404.0,412.0,397.0
455,75R025,South Richmond High School,10.0,407.0,421.0,400.0
456,75X012,PS12X LEWIS AND CLARK SCHOOL,103.0,404.0,412.0,397.0
457,75X754,P754 X - Jeffrey M. Rapport School for Career ...,103.0,404.0,412.0,397.0
458,76K460,John Jay High School,9.0,390.0,381.0,398.0
459,79X490,PHOENIX SCHOOL,7.0,404.0,423.0,416.0

***Importing data of SAT_Result of year 2012***

In [15]:
    fp = 'C:/Users/Ashwini/Desktop/Intro to DS/SAT_Results.csv' # Assigning path of file to variable 'fp', to make use of it to read the file
    SAT_Result = pd.read_csv(fp) # read csv file and save the data in dataframe SAT_Result
    SAT_Result # display first 20 records of SAT_Result dataframe

,DBN,SCHOOL NAME,Num of SAT Test Takers,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355,404,363
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,91,383,423,366
2,01M450,EAST SIDE COMMUNITY SCHOOL,70,377,402,370
3,01M458,FORSYTH SATELLITE ACADEMY,7,414,401,359
4,01M509,MARTA VALLE HIGH SCHOOL,44,390,433,384
5,01M515,LOWER EAST SIDE PREPARATORY HIGH SCHOOL,112,332,557,316
6,01M539,"NEW EXPLORATIONS INTO SCIENCE, TECHNOLOGY AND ...",159,522,574,525
7,01M650,CASCADES HIGH SCHOOL,18,417,418,411
8,01M696,BARD HIGH SCHOOL EARLY COLLEGE,130,624,604,628
9,02M047,47 THE AMERICAN SIGN LANGUAGE AND ENGLISH SECO...,16,395,400,387
10,02M288,FOOD AND FINANCE HIGH SCHOOL,62,409,393,392
11,02M294,ESSEX STREET ACADEMY,53,394,384,378
12,02M296,HIGH SCHOOL OF HOSPITALITY MANAGEMENT,58,374,375,362
13,02M298,PACE HIGH SCHOOL,85,423,438,432
14,02M300,URBAN ASSEMBLY SCHOOL OF DESIGN AND CONSTRUCTI...,48,404,449,416
15,02M303,"FACING HISTORY SCHOOL, THE",76,353,358,340
16,02M305,"URBAN ASSEMBLY ACADEMY OF GOVERNMENT AND LAW, THE",50,375,388,385
17,02M308,LOWER MANHATTAN ARTS ACADEMY,40,403,392,405
18,02M313,"JAMES BALDWIN SCHOOL, THE: A SCHOOL FOR EXPEDI...",69,408,390,390
19,02M316,URBAN ASSEMBLY SCHOOL OF BUSINESS FOR YOUNG WO...,42,373,370,384
20,02M374,GRAMERCY ARTS HIGH SCHOOL,60,391,391,394
21,02M376,NYC ISCHOOL,92,473,483,479
22,02M392,MANHATTAN BUSINESS ACADEMY,s,s,s,s
23,02M393,BUSINESS OF SPORTS SCHOOL,s,s,s,s
24,02M394,EMMA LAZARUS HIGH SCHOOL,79,319,512,357
25,02M399,THE HIGH SCHOOL FOR LANGUAGE AND DIPLOMACY,s,s,s,s
26,02M400,HIGH SCHOOL FOR ENVIRONMENTAL STUDIES,263,465,493,461
27,02M407,INSTITUTE FOR COLLABORATIVE EDUCATION,54,492,465,467
28,02M408,PROFESSIONAL PERFORMING ARTS HIGH SCHOOL,94,509,490,523
29,02M411,BARUCH COLLEGE CAMPUS HIGH SCHOOL,104,496,563,518
...,...,...,...,...,...,...
448,30Q580,BACCALAUREATE SCHOOL FOR GLOBAL EDUCATION,61,524,568,544
449,31R047,CSI HIGH SCHOOL FOR INTERNATIONAL STUDIES,137,452,451,450
450,31R064,GAYNOR MCCOWN EXPEDITIONARY LEARNING SCHOOL,61,398,412,385
451,31R080,THE MICHAEL J. PETRIDES SCHOOL,107,472,488,466
452,31R440,NEW DORP HIGH SCHOOL,391,424,437,416
453,31R445,PORT RICHMOND HIGH SCHOOL,271,424,438,417
454,31R450,CURTIS HIGH SCHOOL,375,437,435,429
455,31R455,TOTTENVILLE HIGH SCHOOL,807,462,486,470
456,31R460,SUSAN E. WAGNER HIGH SCHOOL,535,455,474,459
457,31R470,CONCORD HIGH SCHOOL,10,466,455,414
458,31R600,RALPH R. MCKEE CAREER AND TECHNICAL EDUCATION ...,94,416,422,397
459,31R605,STATEN ISLAND TECHNICAL HIGH SCHOOL,227,635,682,636
460,31R607,YOUNG ADULT BOROUGH CENTER AT STATEN IS TECH HS,10,405,375,370
461,32K403,ACADEMY FOR ENVIRONMENTAL LEADERSHIP,50,380,366,352
462,32K545,EBC HIGH SCHOOL FOR PUBLIC SERVICEâ€“BUSHWICK,88,384,409,361
463,32K549,BUSHWICK SCHOOL FOR SOCIAL JUSTICE,75,348,353,334
464,32K552,ACADEMY OF URBAN PLANNING,67,342,364,354
465,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,39,428,465,422
466,32K556,BUSHWICK LEADERS HIGH SCHOOL FOR ACADEMIC EXCE...,23,347,358,350
467,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,24,359,317,358
468,75K371,P.S. 371 s LILLIAN L. RASHKIS,s,s,s,s
469,75M035,P.S. 035,s,s,s,s
470,75Q256,P.S. Q256,s,s,s,s
471,75Q811,P.S. Q811,32,429,444,433
472,75R025,SOUTH RICHMOND HIGH SCHOOL I.S./P.S. 25,s,s,s,s
473,75X012,P.S. X012 LEWIS AND CLARK SCHOOL,s,s,s,s
474,75X754,J. M. RAPPORT SCHOOL CAREER DEVELOPMENT,s,s,s,s
475,79M645,SCHOOL FOR COOPERATIVE TECHNICAL EDUCATION,s,s,s,s
476,79Q950,GED PLUS s CITYWIDE,8,496,400,426
477,79X490,PHOENIX ACADEMY,9,367,370,360

In [16]:
column_names = {'DBN': 'DB_Number', 'SCHOOL NAME': 'SCHOOL', 'Num of SAT Test Takers': 'Applicants',
                'SAT Critical Reading Avg. Score': 'CR_Average_Score', 'SAT Math Avg. Score': 'Math_Average_Score', 
                'SAT Writing Avg. Score': 'Writing_Average_Score'} # Creating dictionary column_names to store key-value pairs for renaming column names 

SAT_Result = (SAT_Result.rename(columns=column_names)# renaming column names of 'SAT_Result' dataframe
    .dropna(thresh=4)# dropping all rows from dataframe with more than 4 NaN values
    [['DB_Number','SCHOOL','Applicants','CR_Average_Score','Math_Average_Score','Writing_Average_Score']]# columns to be displayed in output table
    .set_index('DB_Number', append=True) # setting the index of 'SAT_Result' dataframe using existing column and append is set to true to append column to an existing index
    .rename_axis(["Serial Number", "DB_Number"])  # altering an index of Serial Number and DB_Number
    .sort_index())  # sorting all dataframe indexes

In [17]:
SAT_Result.replace('s',np.NaN) # replace 's' values of all columns with NaN value using replace function
SAT_Result["Applicants"]=pd.to_numeric(SAT_Result["Applicants"], errors="coerce") # converting datatype of Applicant column to Numeric
SAT_Result["CR_Average_Score"]=pd.to_numeric(SAT_Result["CR_Average_Score"], errors="coerce") # converting datatype of CR_Average_Score column to Numeric
SAT_Result["Math_Average_Score"]=pd.to_numeric(SAT_Result["Math_Average_Score"], errors="coerce") # converting datatype of Math_Average_Score column to Numeric
SAT_Result["Writing_Average_Score"]=pd.to_numeric(SAT_Result["Writing_Average_Score"], errors="coerce") # converting datatype of Writing_Average_Score column to Numeric

In [18]:
SAT_Result["Applicants"].fillna(int(SAT_Result["Applicants"].mean()), inplace=True) # replace NaN values of Applicants column with mean value of same column
SAT_Result["CR_Average_Score"].fillna(int(SAT_Result["CR_Average_Score"].mean()), inplace=True)# replace NaN values of Applicants column with mean value of same columnce=True) # replace NaN values of CR_Average_Score column with mean value of same column
SAT_Result["Math_Average_Score"].fillna(int(SAT_Result["Math_Average_Score"].mean()), inplace=True)# replace NaN values of Math_Average_Score column with mean value of same column
SAT_Result["Writing_Average_Score"].fillna(int(SAT_Result["Writing_Average_Score"].mean()), inplace=True)# replace NaN values of Writing_Average_Score column with mean value of same column

SAT_Result # displaying entire dataset

,,SCHOOL,Applicants,CR_Average_Score,Math_Average_Score,Writing_Average_Score
Serial Number,DB_Number,,,,,
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29.0,355.0,404.0,363.0
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,91.0,383.0,423.0,366.0
2,01M450,EAST SIDE COMMUNITY SCHOOL,70.0,377.0,402.0,370.0
3,01M458,FORSYTH SATELLITE ACADEMY,7.0,414.0,401.0,359.0
4,01M509,MARTA VALLE HIGH SCHOOL,44.0,390.0,433.0,384.0
5,01M515,LOWER EAST SIDE PREPARATORY HIGH SCHOOL,112.0,332.0,557.0,316.0
6,01M539,"NEW EXPLORATIONS INTO SCIENCE, TECHNOLOGY AND ...",159.0,522.0,574.0,525.0
7,01M650,CASCADES HIGH SCHOOL,18.0,417.0,418.0,411.0
8,01M696,BARD HIGH SCHOOL EARLY COLLEGE,130.0,624.0,604.0,628.0
9,02M047,47 THE AMERICAN SIGN LANGUAGE AND ENGLISH SECO...,16.0,395.0,400.0,387.0
10,02M288,FOOD AND FINANCE HIGH SCHOOL,62.0,409.0,393.0,392.0
11,02M294,ESSEX STREET ACADEMY,53.0,394.0,384.0,378.0
12,02M296,HIGH SCHOOL OF HOSPITALITY MANAGEMENT,58.0,374.0,375.0,362.0
13,02M298,PACE HIGH SCHOOL,85.0,423.0,438.0,432.0
14,02M300,URBAN ASSEMBLY SCHOOL OF DESIGN AND CONSTRUCTI...,48.0,404.0,449.0,416.0
15,02M303,"FACING HISTORY SCHOOL, THE",76.0,353.0,358.0,340.0
16,02M305,"URBAN ASSEMBLY ACADEMY OF GOVERNMENT AND LAW, THE",50.0,375.0,388.0,385.0
17,02M308,LOWER MANHATTAN ARTS ACADEMY,40.0,403.0,392.0,405.0
18,02M313,"JAMES BALDWIN SCHOOL, THE: A SCHOOL FOR EXPEDI...",69.0,408.0,390.0,390.0
19,02M316,URBAN ASSEMBLY SCHOOL OF BUSINESS FOR YOUNG WO...,42.0,373.0,370.0,384.0
20,02M374,GRAMERCY ARTS HIGH SCHOOL,60.0,391.0,391.0,394.0
21,02M376,NYC ISCHOOL,92.0,473.0,483.0,479.0
22,02M392,MANHATTAN BUSINESS ACADEMY,110.0,400.0,413.0,393.0
23,02M393,BUSINESS OF SPORTS SCHOOL,110.0,400.0,413.0,393.0
24,02M394,EMMA LAZARUS HIGH SCHOOL,79.0,319.0,512.0,357.0
25,02M399,THE HIGH SCHOOL FOR LANGUAGE AND DIPLOMACY,110.0,400.0,413.0,393.0
26,02M400,HIGH SCHOOL FOR ENVIRONMENTAL STUDIES,263.0,465.0,493.0,461.0
27,02M407,INSTITUTE FOR COLLABORATIVE EDUCATION,54.0,492.0,465.0,467.0
28,02M408,PROFESSIONAL PERFORMING ARTS HIGH SCHOOL,94.0,509.0,490.0,523.0
29,02M411,BARUCH COLLEGE CAMPUS HIGH SCHOOL,104.0,496.0,563.0,518.0
...,...,...,...,...,...,...
448,30Q580,BACCALAUREATE SCHOOL FOR GLOBAL EDUCATION,61.0,524.0,568.0,544.0
449,31R047,CSI HIGH SCHOOL FOR INTERNATIONAL STUDIES,137.0,452.0,451.0,450.0
450,31R064,GAYNOR MCCOWN EXPEDITIONARY LEARNING SCHOOL,61.0,398.0,412.0,385.0
451,31R080,THE MICHAEL J. PETRIDES SCHOOL,107.0,472.0,488.0,466.0
452,31R440,NEW DORP HIGH SCHOOL,391.0,424.0,437.0,416.0
453,31R445,PORT RICHMOND HIGH SCHOOL,271.0,424.0,438.0,417.0
454,31R450,CURTIS HIGH SCHOOL,375.0,437.0,435.0,429.0
455,31R455,TOTTENVILLE HIGH SCHOOL,807.0,462.0,486.0,470.0
456,31R460,SUSAN E. WAGNER HIGH SCHOOL,535.0,455.0,474.0,459.0
457,31R470,CONCORD HIGH SCHOOL,10.0,466.0,455.0,414.0
458,31R600,RALPH R. MCKEE CAREER AND TECHNICAL EDUCATION ...,94.0,416.0,422.0,397.0
459,31R605,STATEN ISLAND TECHNICAL HIGH SCHOOL,227.0,635.0,682.0,636.0
460,31R607,YOUNG ADULT BOROUGH CENTER AT STATEN IS TECH HS,10.0,405.0,375.0,370.0
461,32K403,ACADEMY FOR ENVIRONMENTAL LEADERSHIP,50.0,380.0,366.0,352.0
462,32K545,EBC HIGH SCHOOL FOR PUBLIC SERVICEâ€“BUSHWICK,88.0,384.0,409.0,361.0
463,32K549,BUSHWICK SCHOOL FOR SOCIAL JUSTICE,75.0,348.0,353.0,334.0
464,32K552,ACADEMY OF URBAN PLANNING,67.0,342.0,364.0,354.0
465,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,39.0,428.0,465.0,422.0
466,32K556,BUSHWICK LEADERS HIGH SCHOOL FOR ACADEMIC EXCE...,23.0,347.0,358.0,350.0
467,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,24.0,359.0,317.0,358.0
468,75K371,P.S. 371 s LILLIAN L. RASHKIS,110.0,400.0,413.0,393.0
469,75M035,P.S. 035,110.0,400.0,413.0,393.0
470,75Q256,P.S. Q256,110.0,400.0,413.0,393.0
471,75Q811,P.S. Q811,32.0,429.0,444.0,433.0
472,75R025,SOUTH RICHMOND HIGH SCHOOL I.S./P.S. 25,110.0,400.0,413.0,393.0
473,75X012,P.S. X012 LEWIS AND CLARK SCHOOL,110.0,400.0,413.0,393.0
474,75X754,J. M. RAPPORT SCHOOL CAREER DEVELOPMENT,110.0,400.0,413.0,393.0
475,79M645,SCHOOL FOR COOPERATIVE TECHNICAL EDUCATION,110.0,400.0,413.0,393.0
476,79Q950,GED PLUS s CITYWIDE,8.0,496.0,400.0,426.0
477,79X490,PHOENIX ACADEMY,9.0,367.0,370.0,360.0

## Question 1

** What could be the future values of CR Average scores based on the CR average scores from SAT Examination 2010?**

### CHI-SQUARE CALCULATION

***Calculating Chi-Square value for CR_Average_Score_2010 and predicted CR_Average_Score value of 2012***

In [73]:
observed = SAT_Result_2010['CR_Average_Score_2010'].mean()
expected = SAT_Result['CR_Average_Score'].mean()
print('Observed value: ', observed)
print('Expected value: ',expected)
chi_squared_stat = (((observed-expected)**2)/expected)
print('Chi-Square value: ',chi_squared_stat)

Observed value:  404.2086956521739
Expected value:  400.7489539748954
Chi-Square value:  0.029868605656417

In [51]:
import scipy
from scipy.stats import chisquare
chisquare(SAT_Result_2010['CR_Average_Score_2010'].mean(),f_exp=SAT_Result['CR_Average_Score'].mean())

Power_divergenceResult(statistic=0.029868605656417, pvalue=nan)

**Interpretation: Here we have calculated the value of Chi square for CR average scores of year 2010 which is considered to be an observed value and future value of CR average is considered to be an expected one.
From the above calculation we got the Chi-Square value:  0.029868605656417 which is too less to be considered and hence it can be concluded that CR average marks of 2012 could be approximately similar to the marks of 2010 and hence there is not a significant difference in the CR average marks of both years**

### LINEAR REGRESSION CALCULATION

***Calculating Coefficients,p-value, R-squared value***

In [52]:
import statsmodels.formula.api as smf
lm= smf.ols(formula='Applicants_2010 ~ CR_Average_Score_2010' , data=SAT_Result_2010).fit()
lm.params # print coefficients

Intercept               -350.904942
CR_Average_Score_2010      1.124313
dtype: float64

***Calculating prediction of CR average score based on the exisiting value from SAT Result 2010***

In [53]:
lm.predict(SAT_Result_2010.CR_Average_Score_2010)

Serial Number  DB_Number_2010
0              01M292             88.701465
1              01M448             92.074404
2              01M450            119.057918
3              01M458             81.955586
4              01M509            103.317535
5              01M515              2.129359
6              01M539            287.704877
7              01M650            111.187726
8              01M696            357.412287
9              02M047            104.441848
10             02M288            123.555170
11             02M294             78.582647
12             02M296             95.447343
13             02M298            125.803796
14             02M300            104.441848
15             02M303             77.458334
16             02M305            111.187726
17             02M308            108.939100
18             02M313            122.430857
19             02M316             99.944595
20             02M374             93.198717
21             02M376            103.317535
22             02M400            171.900631
23             02M407            193.262580
24             02M408            205.630023
25             02M411            237.110789
26             02M412            279.834685
27             02M413            183.143762
28             02M414            159.533188
29             02M416            273.088807
                                    ...
430            30Q555             34.734438
431            30Q575            213.500215
432            30Q580            278.710372
433            31R064            103.317535
434            31R080            220.246093
435            31R440            133.673987
436            31R445            140.419866
437            31R450            142.668492
438            31R455            165.154753
439            31R460            169.652005
440            31R470            182.019449
441            31R600            111.187726
442            31R605            366.406791
443            32K403             78.582647
444            32K480            103.317535
445            32K545             86.452839
446            32K549             57.220699
447            32K552             48.226195
448            32K554             92.074404
449            32K556             50.474821
450            72X470            103.317535
451            75K371            103.317535
452            75M035            103.317535
453            75Q004            103.317535
454            75Q256            103.317535
455            75R025            106.690474
456            75X012            103.317535
457            75X754            103.317535
458            76K460             87.577152
459            79X490            103.317535
Length: 460, dtype: float64

**Interpretations: Here we are predicting the future values of CR average score**

***Calculating the p-value of CR average score***

In [54]:
lm.pvalues

Intercept                8.625054e-15
CR_Average_Score_2010    3.568955e-23
dtype: float64

***Calculating R-Squared value for CR average score***

In [55]:
lm.rsquared

0.1933709020227159

***t-test for CR average score***

In [83]:
import scipy
from scipy import stats
stats.ttest_rel(SAT_Result_2010['CR_Average_Score_2010'].head(),SAT_Result['CR_Average_Score'].head())

Ttest_relResult(statistic=1.1785696654867619, pvalue=0.30389138776396163)

**Interpretation: From the above t -test calculation , we got a p-value as 0.30389138776396163 which is greater than 0.05. In other words, p> 0.05 then SAT result data sets for year 2010 and 2012 are related to each other and in this case null hypothesis cannot be rejected. Hence there is a difference between the means of CR values and we can not conclude here that significant difference exists.**

## Question 2

**What could be the future values of Math Average scores based on the Math average scores from SAT Examination 2010?**

***Calculating Chi-Square value for Math_Average_Score_2010 and predicted Math_Average_Score value of 2012***

In [74]:
observed = SAT_Result_2010['Math_Average_Score_2010'].mean()
expected = SAT_Result['Math_Average_Score'].mean()
chi_squared_stat = (((observed-expected)**2)/expected)
print('Observed value: ', observed)
print('Expected value: ',expected)
print('Chi-Square value: ',chi_squared_stat)

Observed value:  412.78478260869565
Expected value:  413.3242677824268
Chi-Square value:  0.0007041547650642788

In [23]:
chisquare(SAT_Result_2010['Math_Average_Score_2010'].mean(),f_exp=SAT_Result['Math_Average_Score'].mean())

Power_divergenceResult(statistic=0.00070415476506427877, pvalue=nan)

**Interpretation: Here we have calculated the value of Chi square for Math average scores of year 2010 which is considered to be an observed value and future value of Math average is considered to be an expected one.
From the above calculation we got the Chi-Square value:  0.0007041547650642788 which is too less to be considered and hence it can be concluded that Math average marks of 2012 could be approximately similar to the marks of 2010 and hence there is not a significant difference in the Math average marks of both years**

### LINEAR REGRESSION CALCULATION

***Calculating Coefficients,p-value, R-squared value***

In [65]:
import statsmodels.formula.api as smf
lm= smf.ols(formula='Applicants_2010 ~ Math_Average_Score_2010' , data=SAT_Result_2010).fit()
lm.params # print coefficients

Intercept                 -401.375805
Math_Average_Score_2010      1.223223
dtype: float64

***Calculating prediction of CR average score based on the exisiting value from SAT Result 2010***

In [66]:
lm.predict(SAT_Result_2010.Math_Average_Score_2010)

Serial Number  DB_Number_2010
0              01M292            118.494113
1              01M448            111.154773
2              01M450            125.833453
3              01M458             51.216829
4              01M509            102.592210
5              01M515            249.379010
6              01M539            311.763400
7              01M650             89.136753
8              01M696            342.343983
9              02M047            106.261880
10             02M288            102.592210
11             02M294             43.877489
12             02M296            106.261880
13             02M298            146.628250
14             02M300            144.181803
15             02M303             54.886499
16             02M305             95.252869
17             02M308             64.672286
18             02M313            111.154773
19             02M316             98.922540
20             02M374             58.556169
21             02M376            102.592210
22             02M400            185.771396
23             02M407            183.324950
24             02M408            167.423046
25             02M411            311.763400
26             02M412            328.888527
27             02M413            195.557183
28             02M414            146.628250
29             02M416            327.665303
                                    ...
430            30Q555            145.405026
431            30Q575            216.351980
432            30Q580            316.656293
433            31R064            102.592210
434            31R080            238.370000
435            31R440            144.181803
436            31R445            139.288910
437            31R450            138.065686
438            31R455            188.217843
439            31R460            188.217843
440            31R470            125.833453
441            31R600            123.387006
442            31R605            421.853500
443            32K403             49.993606
444            32K480            102.592210
445            32K545             75.681296
446            32K549             43.877489
447            32K552             40.207819
448            32K554            112.377996
449            32K556             20.636246
450            72X470            102.592210
451            75K371            102.592210
452            75M035            102.592210
453            75Q004            102.592210
454            75Q256            102.592210
455            75R025            113.601220
456            75X012            102.592210
457            75X754            102.592210
458            76K460             64.672286
459            79X490            116.047666
Length: 460, dtype: float64

**Interpretations: Here we are predicting the future values of math average score**

***Calculating the p-value of CR average score***

In [67]:
lm.pvalues

Intercept                  3.574097e-25
Math_Average_Score_2010    2.678473e-37
dtype: float64

***Calculating R-Squared value for CR average score***

In [68]:
lm.rsquared

0.29951028543413316

***t-test for Math average score***

In [84]:
import scipy
from scipy import stats
stats.ttest_rel(SAT_Result_2010['Math_Average_Score_2010'].head(),SAT_Result['Math_Average_Score'].head())

Ttest_relResult(statistic=-0.10341753799900384, pvalue=0.9226091861131176)

**Interpretation: From the above t -test calculation , we got a p-value as 0.9226091861131176 which is greater than 0.05. In other words, p> 0.05 then SAT result data sets for year 2010 and 2012 are related to each other and in this case null hypothesis cannot be rejected. Hence there is a difference between the means of Math average values and we can not conclude here that significant difference exists.**

## Question 3

**What could be the future values of Writing Average scores based on the Writing average scores from SAT Examination 2010?**

***Calculating Chi-Square value for Writing_Average_Score_2010 and predicted Writing_Average_Score value of 2012***

In [75]:
observed = SAT_Result_2010['Writing_Average_Score_2010'].mean()
expected = SAT_Result['Writing_Average_Score'].mean()
chi_squared_stat = (((observed-expected)**2)/expected)
print('Observed value: ', observed)
print('Expected value: ',expected)
print('Chi-Square value: ',chi_squared_stat)

Observed value:  397.5782608695652
Expected value:  393.8682008368201
Chi-Square value:  0.03494708488100381

In [26]:
chisquare(SAT_Result_2010['Writing_Average_Score_2010'].mean(),f_exp=SAT_Result['Writing_Average_Score'].mean())

Power_divergenceResult(statistic=0.034947084881003808, pvalue=nan)

**Interpretation: Here we have calculated the value of Chi square for Writing average scores of year 2010 which is considered to be an observed value and future value of Writing average is considered to be an expected one.
From the above calculation we got the Chi-Square value:  0.03494708488100381 which is too less to be considered and hence it can be concluded that Writing average marks of 2012 could be approximately similar to the marks of 2010 and hence there is not a significant difference in the Writing average marks of both years**

***Calculating Coefficients,p-value for model coefficients, R-squared value***

In [63]:
import statsmodels.formula.api as smf
lm= smf.ols(formula='Applicants_2010 ~ Writing_Average_Score_2010' , data=SAT_Result_2010).fit()
lm.params # print coefficients

Intercept                    -347.373416
Writing_Average_Score_2010      1.134181
dtype: float64

***Calculating prediction of Writing average score based on the exisiting value from SAT Result 2010***

In [64]:
lm.predict(SAT_Result_2010.Writing_Average_Score_2010)**Interpretations: Here we are predicting the future values of math average score**

Serial Number  DB_Number_2010
0              01M292             89.286153
1              01M448             91.554515
2              01M450            108.567225
3              01M458             81.346888
4              01M509            102.896322
5              01M515              8.759324
6              01M539            296.841221
7              01M650            107.433044
8              01M696            367.160424
9              02M047             89.286153
10             02M288            114.238129
11             02M294             67.736720
12             02M296             96.091237
13             02M298            132.385020
14             02M300            123.311574
15             02M303             80.212708
16             02M305            118.774851
17             02M308            119.909032
18             02M313             99.493780
19             02M316             96.091237
20             02M374             90.420334
21             02M376            102.896322
22             02M400            160.739537
23             02M407            187.959874
24             02M408            218.582753
25             02M411            251.473993
26             02M412            295.707040
27             02M413            181.154790
28             02M414            145.995188
29             02M416            295.707040
                                    ...
430            30Q555             45.053106
431            30Q575            236.729644
432            30Q580            299.109582
433            31R064            102.896322
434            31R080            221.985295
435            31R440            144.861007
436            31R445            134.653381
437            31R450            140.324285
438            31R455            182.288970
439            31R460            170.947163
440            31R470            102.896322
441            31R600             90.420334
442            31R605            352.416075
443            32K403             76.810166
444            32K480            102.896322
445            32K545             79.078527
446            32K549             58.663274
447            32K552             52.992371
448            32K554            100.627960
449            32K556             50.724009
450            72X470            102.896322
451            75K371            102.896322
452            75M035            102.896322
453            75Q004            102.896322
454            75Q256            102.896322
455            75R025            106.298864
456            75X012            102.896322
457            75X754            102.896322
458            76K460            104.030502
459            79X490            124.445755
Length: 460, dtype: float64

**Interpretations: Here we are predicting the future values of writing average score**

***Calculating the p-value of writing average score***

In [48]:
lm.pvalues

Intercept                     1.601534e-15
Writing_Average_Score_2010    1.984800e-24
dtype: float64

***Calculating R-Squared value for Writing average score***

In [49]:
lm.rsquared

0.20339829083510508

***t-test for Writing average score***

In [86]:
import scipy
from scipy import stats
stats.ttest_rel(SAT_Result_2010['Writing_Average_Score_2010'].head(),SAT_Result['Writing_Average_Score'].head())

Ttest_relResult(statistic=6.9577401497571989, pvalue=0.0022424258812041289)

**Interpretation: From the above t -test calculation , we got a p-value as 0.0022424258812041289 which is less than 0.05. In other words, p < 0.05 then hence in this case null hypothesis can be rejected. Hence there is not any difference between the means of Writing average values and we can conclude here that significant difference exists.**

*** References: ***

***https://opendata.cityofnewyork.us/data/#datasetscategory***

***https://data.cityofnewyork.us/Education/SAT-Results/f9bf-2cp4***

***http://www.sportsci.org/resource/stats/pvalues.html***