# Working around with Strings,Lists,Sorting & dictionary in Python

## 1.STRINGS

*** Assigning string values to variables***

In [189]:
var1='Data'
var2='Science'

In [190]:
print(var1)

Data

***Concatenation of two strings***

In [8]:
print (var1 +" " + var2)

Data Science

***Repetition of Strings***

In [191]:
print ("We can repeat the string for as many times we want")
print (var2 * 5) # As we wanted to repeat Science for 5 times we have used * 5 here

We can repeat the string for as many times we want
ScienceScienceScienceScienceScience

***Accessing character in a string***

In [230]:
print("""If we need to access 3rd character of var1 then it can be done in a following way  """)
##""" triple quotes can be used to form a paragraph
print("")
print ('Third letter of var1:' +var1[2])
print ('Last character of var2:' +var2[-1]) #Last character of any string can be refered as index -1,second last character as -2 and so on.

If we need to access 3rd character of var1 then it can be done in a following way

Third letter of var1:t
Last character of var2:e

***Determining Length of the string using len() function***

In [231]:
print("Len() function can be used to check the length of the String")
print("")
print("Length of var1:" +" ",len(var1))

Len() function can be used to check the length of the String

Length of var1:  4

***Deleting a string using del keyword***

In [14]:
print ("We can delete a string using del keyword:")
del var1
print(var1)

We can delete a string using del keyword:

NameError: name 'var1' is not defined

As we can see from last print statement it is giving an erro of var1 not found since we have recently deleted var1 variable in above statement 'del var1'

***Capitalization of the string using capitalize() function***

In [235]:
statement1='new York is the most beautiful city'
print ("Use Capitalize() function to capitalise the 1st letter of the string")

print (statement1.capitalize())

Use Capitalize() function to capitalise the 1st letter of the string
New york is the most beautiful city

***Updation of an existing string***

In [232]:
print("Updation of exisiting string can be done as follows-")
print("")
stringToBeUpdated= 'Rutgers School'
print("Updated string:" + stringToBeUpdated[:8]+'Business school')

Updation of exisiting string can be done as follows-

Updated string:Rutgers Business school

## 2. LISTS

***Types of Lists***

In [201]:
print("These are the different types of the List")

list_example1 = [] #empty list
list_example2 = [1,2,3,4] #list of integers
list_example3 = [1, 'Ash', 3.4] #list of mixed data types
list_example4 = [1,'Alpine', 44, ['List within List']] #a list can have another list as an item, this is called as a nested list

These are the different types of the List

***Accessing items from the List***

In [236]:
print("Accessing items from List with the help of index number of the respective item")
list1= ['Orchid','Rose','Lily','Sunflower']
print("")
print("Second item from list1:",list1[1])

Accessing items from List with the help of index number of the respective item

Second item from list1: Rose

*** Determining Length of the List using len() function***

In [237]:
print("Length of the List can be determined by using len() function as follows")
print("")
print("Length of list1:",len(list1))

Length of the List can be determined by using len() function as follows

Length of list1: 4

***Concatenation of two Lists***

In [238]:
print("Lists can be concatenated with the help of + operator")
ListA=['Data Science', 'BDM','ABI']
ListB=['DAV','DADM']
print("")
print("Concatenating ListA and ListB:",ListA + ListB)

Lists can be concatenated with the help of + operator

Concatenating ListA and ListB: ['Data Science', 'BDM', 'ABI', 'DAV', 'DADM']

***Repetition of List Items***

In [204]:
print("List items can be repeated using * with list and the number of times of list repetition as follows:")
list_repetition= ['USA']
list_repetition * 5
list_repetition * 5

List items can be repeated using * with list and the number of times of list repetition as follows:

['USA', 'USA', 'USA', 'USA', 'USA']

***Appending new Items in Existing List using append() function***

In [205]:
print("We can append new items in an existing list using append() function as below")
list_append_example= [100,'Hannah',20,'Alex']
list_append_example.append('Justin')
list_append_example

We can append new items in an existing list using append() function as below

[100, 'Hannah', 20, 'Alex', 'Justin']

***Reversing order of Items from  using reverse() function***

In [206]:
print("We can reverse the order of list using reverse() function")
list_append_example.reverse()
list_append_example

We can reverse the order of list using reverse() function

['Justin', 'Alex', 20, 'Hannah', 100]

***Iterating List Using for loop***

In [239]:
print("for loop is used to iterate the list elements based on the index number")
print("")
list1= [26,'Cross St',1994,'Warren St','Cleveland Avenue']
for x in list1: print(x)

for loop is used to iterate the list elements based on the index number

26
Cross St
1994
Warren St
Cleveland Avenue

***Updating an exisiting List***

In [240]:
list_update_example= ['11','22','33','44']
print("We can replace any item from list with some other value by assiging a new value to existing item position")
print("")
print("List before updation:",list_update_example)
list_update_example[1]='55'
print("List after updation:",list_update_example)

We can replace any item from list with some other value by assiging a new value to existing item position

List before updation: ['11', '22', '33', '44']
List after updation: ['11', '55', '33', '44']

***Deletion of Items from List using del keyword***

In [241]:
print("We can delete an item from list by using del funtion along with the position of item to be deleted")
print("")
print("Original list:",list_update_example)
del list_update_example[3]
print("Updated list after deletion of 4th item:", list_update_example)

We can delete an item from list by using del funtion along with the position of item to be deleted

Original list: ['11', '55', '33', '44']
Updated list after deletion of 4th item: ['11', '55', '33']

## 3.SORTING

In [229]:
print("Sorting of list items in Ascending or Descending order")
print("")
List_sort= ['n','t','a']
print("List before sorting operation:",List_sort)
List_sort.sort()
print("List after sorting opration:",List_sort)

Sorting of list items in Ascending or Descending order

List before sorting operation: ['n', 't', 'a']
List after sorting opration: ['a', 'n', 't']

## 4.DICTIONARY

***Defining a Dictionary***

In [217]:
print("Dictionary can be defined using a pair of key and value attributes which can be considered as single element")
print("")
Dict_example1= {'Name':'Rutgers University','Course':'MIT', 'Campus':'Newark','Established':1766}
print("Example of dictionary:",Dict_example1)

Dictionary can be defined using a pair of key and value attributes which can be considered as single element

Example of dictionary: {'Name': 'Rutgers University', 'Course': 'MIT', 'Campus': 'Newark', 'Established': 1766}

***Accessing the values from dictionary***

In [218]:
print("We can access any value from dictionary based on the subsequent key as follows:")
print("")
print("University name from dictionary:",Dict_example1['Name'])
print("Campus from dictionary:",Dict_example1['Campus'])

We can access any value from dictionary based on the subsequent key as follows:

University name from dictionary: Rutgers University
Campus from dictionary: Newark

***items() method in Dictionary***

In [216]:
print("All Dictionary items can be printed with the help of items() method as follows:")
print(" ")
print(Dict_example1.items())

All Dictionary items can be printed with the help of items() method as follows:

dict_items([('Name', 'Rutgers University'), ('Course', 'MIT'), ('Campus', 'Newark'), ('Established', 1766)])

***Keys() & Values() methods in Dictionary***

In [220]:
print("Keys and values of dictionary can individually be printed using keys() and values() methods as follows")
print(" ")
print("Keys from Dictionary:",Dict_example1.keys())
print("Values from Dictionary:",Dict_example1.values())

Keys and values of dictionary can individually be printed using keys() and values() methods as follows

Keys from Dictionary: dict_keys(['Name', 'Course', 'Campus', 'Established'])
Values from Dictionary: dict_values(['Rutgers University', 'MIT', 'Newark', 1766])

***copy() method in Dictionary***

In [223]:
print("This method creates a exact replica of existing dictionary")
Dict_example1.copy()

This method creates a exact replica of existing dictionary

{'Campus': 'Newark',
 'Course': 'MIT',
 'Established': 1766,
 'Name': 'Rutgers University'}

***Updating an Existing Dictionary using update() method***

In [226]:
print("This method adds new key-value pair in the existing dictionary.")
print("")
print("Existing dictionary:",Dict_example1)
Dict_example2={'type':'Public'}
print("New dictionary:",Dict_example2)
print("")
print("Using update() method for merging of new dictionary with the existing ones:")
Dict_example1.update(Dict_example2)
Dict_example1

This method adds new key-value pair in the existing dictionary.

Existing dictionary: {'Name': 'Rutgers University', 'Course': 'MIT', 'Campus': 'Newark', 'Established': 1766, 'type': 'Public'}
New dictionary: {'type': 'Public'}

Using update() method for merging of new dictionary with the existing ones:

{'Campus': 'Newark',
 'Course': 'MIT',
 'Established': 1766,
 'Name': 'Rutgers University',
 'type': 'Public'}

***Deleting items from Dictionary***

In [227]:
print("delete() method: This method helps to delete the items from dictionary.")
print("")
del Dict_example1['type'];
print(Dict_example1)

delete() method: This method helps to delete the items from dictionary.

{'Name': 'Rutgers University', 'Course': 'MIT', 'Campus': 'Newark', 'Established': 1766}

***clear() method in Dictionary***

In [179]:
print("clear() method: This method helps to clear entire dictionary at one go.")
Dict_example1.clear()
print(Dict_example1)

clear() method: This method helps to clear entire dictionary at one go.
{}

***References :***

https://www.programiz.com/python-programming/

https://www.tutorialspoint.com/python/

https://www.learnpython.org/en/